/* styles.css or styles.scss */

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("/fonts/sansation/Sansation_Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
html {
  height: 100%;
}

body {
  font-family: "Sansation";
  font-weight: 400;
  height: 100%;
}

/* #root {
  min-height: 100% !important;
  height: auto;
} */

body::before {
  transition: background 0.5s;
}

.sidebar {
  transition: left 0.5s;
}

@media screen and (max-width: 789px) {
  body.open-sidebar::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}

body.open-sidebar .sidebar {
  left: 0;
}

.category-strip {
  font-weight: 300;
}

.font-500 {
  font-weight: 500;
}

.category-strip .active {
  font-weight: 600;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-action-color-500;
}

.swiper-pagination-bullet {
  @apply bg-white h-3 w-3 rounded-full;
}
.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #003d29;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
  position: relative;
}

.custom:checked {
  background-color: #003d29;
  border-color: #003d29;
}

.checkbox:checked::before {
  content: "\2713";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #003d29;
  font-size: 1rem;
}
.checkbox.custom:checked::before {
  color: #fff;
}

.radio {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #003d29;
  border-radius: 50%;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
  position: relative;
}

.radio:checked {
  background: #003d29;
  color: #fff;
}

.radio:checked::before {
  content: "\2713";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.7rem;
  font-weight: 900;
}
